body {
  background-color: #eabe32;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #393013;
}

img.logo {
  width: 40%;
  height: auto;
  margin-top: 120px;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  img.logo {
    margin-top: 70px;
    width: 80%;
  }
}


img.logo_small {
  width: 80%;
  height: auto;
  margin-top: 100px;
}

#wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  min-width: 400px;
  text-align: center;
}

#content {
  display: inline-block;
  width: 70%;
}

a {
  text-decoration: none;
}

#social {
  margin: 50px 0;
}

#social img {
  width: 30px;
  height: auto;
  margin: 7px 0;

}

#social span {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
}

h2  {
  font-size: 16px;
  margin-top: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

label {
  font-size: 12px;
  margin-top: 50px;
  text-transform: uppercase;
}

h4{
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 5px;
  font-weight: 700;
}

h5{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 50px;
}

#newsletter {
  margin: 40px auto;
  width: 50%;
}

@media (max-width: 700px) {
  #newsletter {
    margin: 40px 0;
    width: 100%;
  }
}
